
/* This element defines the size the iframe will take.
   In this example we want to have a ratio of 25:14 */
.prototype {
  position: relative;
  width: 100vw;
  height: 0;
  padding-bottom: 10vw; /* The height of the item will now be 56% of the width. */

}

/* Adjust the iframe so it's rendered in the outer-width and outer-height of it's parent */
.prototype iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

// This is to make the iframe more responsive...

@media (max-width: 500px) {
  iframe {
    transform: scale(0.8, 0.8);
  }
}

@media (max-width: 400px) {
  iframe {
    transform: scale(0.5, 0.5);
    width: 110%;
    margin: -20px !important;
  }
}
