/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings

.padded {
  padding-top: 4em;
  padding-bottom: 4em;
  padding-left: 4em;
  padding-right: 4em;
}

// Wrapper
.banner {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-image: url("../images/white_light.jpg");
}

// Backgrounds
.bg-scrolling {

}

// LE WAGON CODE
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}
