<div id = "footer">
  <div class="container">
    <div class="row">
      <div class = "col-xs-12">
        <ul class= "list-inline">
          <li>
            <a href="https://github.com/ginagoldberg">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/GinaaGold">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://nl.linkedin.com/in/goldberggina">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </li>
             <!--  <li>
              <a href="https://www.facebook.com/gina.goldberg">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li> -->
        </ul>
      </div>
    </div>
  </div>
  <div class = "container">
    <div class="row">
      <div class="col-xs-12">
        <h5>Write me a fun fact about your day!</h5>
        <p>
          <a href="mailto:gina.a.goldberg@gmail.com"> gina.a.goldberg@gmail.com</a>
        </p>
        <br>
      </div>
    </div>
  </div>
</div>

