<!--
title: Le Wagon Middleman boilerplate

<div class="welcome text-center padded">
  <h1>Welcome to Middleman</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p>
</div> -->

<!-- MY CODE  -->
<html>
<div class="banner">
  <h1 class = "text-center padded" >Gina Avalon Goldberg
    <br> <small> UX Enthusiast &amp; Junior Web Developer</small>
  </h1>
</div>
<div class = "container">
  <div class="row">
    <div class="col text-center padded">
      <h4>
      In a nutshell...
      </h4>
      <p>With an ever growing interest in human behavior, strong research background, and drive to help make the world a slightly better place, I have fallen in love with the world of User Experience (UX) Design and Web Development.</p>
    </div>
  </div>
</div>
</div>
</html>
