<!-- MY CODE  -->
<html>

<div class="banner">
  <div class="title">
    <h1 class = "text-center padded" >Gina Avalon Goldberg
      <br> <small> UX Enthusiast &amp; Junior Web Developer</small>
    </h1>
  </div>
</div>


<div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large yellow darken-2">
    <i class="large material-icons">sentiment_satisfied</i>
  </a>
  <ul>
    <li><a href="#footer" class="btn-floating red"><i class="material-icons">favorite_border</i></a></li>
    <li><a href="#work" class="btn-floating blue"><i class="material-icons">work</i></a></li>
    <li><a href="#timeline" class="btn-floating green"><i class="material-icons"><!-- view_list -->recent_actors</i></a></li>
  </ul>
</div>


<div class="container">
  <div class="page-header text-center">
    <div class="tab-content" id="timeline">
      <h4>What have I been up to?
        <br> <small>Take a scroll down memory lane</small>
      </h4>
    </div>

    <ul class="timeline">

      <li>
        <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" id=""></i></a></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
           <img class="img-responsive" src="images/le-wagon-logo.png" alt = "Le Wagon" style = "height:40px;"/>
         </div>
         <div class="timeline-body">
          <h5>Le Wagon</h5>
          <p>Full Stack Web Development Bootcamp</p>
        </div>
        <div class="timeline-footer">
          <small>APRIL 2016 - JULY 2016</small>
        </div>
      </div>
    </li>

    <li  class="timeline-inverted">
      <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" id=""></i></a></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <img class="img-responsive" src="images/nycda-logo.png" alt = "New York Code + Design Academy" style = "height:40px;"/>
        </div>
        <div class="timeline-body">
          <h5>New York Code and Design Academy</h5>
          <p>UI/UX Design Course</p>
        </div>
        <div class="timeline-footer">
          <small>SEPTEMBER 2015 - DECEMBER 2015</small>
        </div>
      </div>
    </li>

    <li>
      <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" id=""></i></a></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <img class="img-responsive" src="images/eur-logo.png" alt = "Erasmus University Rotterdam" style = "height:40px;"/>
        </div>
        <div class="timeline-body">
          <h5>Erasmus University Rotterdam</h5>
          <p>MSc Psychology of Human Learning and Performance</p>
        </div>
        <div class="timeline-footer">
          <small>SEPTEMBER 2013 - AUGUST 2015</small>
        </div>
      </div>
    </li>

    <li  class="timeline-inverted">
      <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" id=""></i></a></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <img class="img-responsive" src="images/ece-logo.png" alt = "Erasmus Centre for Entrepreneurship" style = "height:40px;"/>
        </div>
        <div class="timeline-body">
          <h5>Erasmus Centre for Entrepreneurship</h5>
          <p>Full-time Marketing and Communications Intern</p>
        </div>
        <div class="timeline-footer">
          <small>FEBRUARY 2015 - JUNE 2015</small>
        </div>
      </div>
    </li>

    <li>
      <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" id=""></i></a></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <img class="img-responsive" src="images/enactus-logo.png" alt = "Enactus Rotterdam" style = "height:40px;"/>
        </div>
        <div class="timeline-body">
          <h5>Enactus Rotterdam</h5>
          <p>Social Entrepreneurship Project “Klik” Team</p>
        </div>
        <div class="timeline-footer">
          <small>OCTOBER 2014 - AUGUST 2015</small>
        </div>
      </div>
    </li>

    <li  class="timeline-inverted">
      <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" id=""></i></a></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <img class="img-responsive" src="images/ucr-logo.jpg" alt = "University College Roosevelt" style = "height:35px;"/>
        </div>
        <div class="timeline-body">
          <h5>University College Roosevelt</h5>
          <p>BA Psychology Major and Statistics Minor</p>
        </div>
        <div class="timeline-footer">
          <small>SEPTEMBER 2010 - AUGUST 2013</small>
        </div>
      </div>
    </li>

    <li>
      <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" id=""></i></a></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <img class="img-responsive" src="images/psyco-logo.png" alt = "Psychology Committee" style = "height:45px;"/>
        </div>
        <div class="timeline-body">
          <h5>Psychology Committee</h5>
          <p>Chair of the Student Board</p>
        </div>
        <div class="timeline-footer">
          <small>AUGUST 2012 - JUNE 2013</small>
        </div>
      </div>
    </li>

    <li  class="timeline-inverted">
      <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" id=""></i></a></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <img class="img-responsive" src="images/pp-logo.png" alt = "Prison Project" style = "height:25px;"/>
        </div>
        <div class="timeline-body">
          <h5>Prison Project</h5>
          <p>Research Interviewer</p>
        </div>
        <div class="timeline-footer">
          <small>AUGUST 2011 - JULY 2012</small>
        </div>
      </div>
    </li>

    <li>
      <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" id=""></i></a></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <img class="img-responsive" src="images/streetwise-logo.png" alt = "Streetwise Direct Dialogue BV" style = "height:40px;"/>
        </div>
        <div class="timeline-body">
          <h5>Streetwise Direct Dialogue BV</h5>
          <p>Donor Recruiter for Charitable Organizations</p>
        </div>
        <div class="timeline-footer">
          <small>SEPTEMBER 2010 - JUNE 2011</small>
        </div>
      </div>
    </li>

    <li  class="timeline-inverted">
      <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" id=""></i></a></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <img class="img-responsive" src="images/summer-logo.jpg" alt = "Additional University-Level Summer Courses" style = "height:40px;"/>
        </div>
        <div class="timeline-body">
          <h5>Awesome Summer Courses</h5>
          <ul>
            <li>Psychology of Entrepreneurship<br>
              <small>Erasmus University (Netherlands)</small><hr>
            </li>
            <li>Psychology of Cross-cultural Memory<br>
              <small>Aarhus University (Denmark)</small><hr>
            </li>
            <li>Spanish Language, Mexican Culture<br>
              <small>Universidad de Guadalajara (Mexico)</small>
            </li>
          </ul>
        </div>
        <div class="timeline-footer">
          <small>SUMMER 2011, 2012 and 2014</small>
        </div>
      </div>
    </li>

    <li>
      <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" id=""></i></a></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <img class="img-responsive" src="images/min-logo.png" alt = "Ministry of Foreign Affairs" style = "height:40px;"/>
        </div>
        <div class="timeline-body">
          <h5>Ministry of Foreign Affairs</h5>
          <p>Full-time Summer Employee</p>
        </div>
        <div class="timeline-footer">
          <small>SUMMER 2007 and 2009</small>
        </div>
      </div>
    </li>

    <li  class="timeline-inverted">
      <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" id=""></i></a></div>
      <div class="timeline-panel">
        <div class="cv">
          <h5>CV<br>
            <%= link_to "<i class=\"material-icons\" style=\"font-size:60px;\">cloud_download</i>".html_safe, "images/CV-GinaGoldberg.pdf" %>
            <a></a>
          </h5>
        </div>
      </div>
    </li>


    <li class="clearfix" style="float: none;"></li>

  </ul>
</div>
</div>


<div class="container">
  <div class="page-header text-center">
    <div class="tab-content" id="work">
      <h4>What can I build?
        <br><small>Here is a clickable prototype</small><br>
        <h6></h6>
        <iframe width="428" height="866" src="//invis.io/U251U4WNK" frameborder="0" allowfullscreen></iframe>
      </h4>
    </div>
  </div>
</div>


</html>


<!-- PERSONAL SUMMARY -->
   <!--   <div class="col-xs-12 text-center padded">
        <h4>In a nutshell...</h4>
        <p>With an ever growing interest in human behavior, strong research background, and drive to help make the world a slightly better place, I have fallen in love with the world of User Experience (UX) Design and Web Development.</p> -->


        <!-- WORKING WITH TABS -->
<!--          <div class = "container">
    <div class="row">
      <div class="tabs-container">

        <div class="col-xs-4 remove-padding">
         =<div class="tabs text-center">
          <a class="active tabs tabs-first " data-target="#past">
            <div class="tab">
            <h3>.past</h3>
            </div>
          </a>
        </div>
        <div class="col-xs-4 remove-padding">

          <a class="tabs " data-target="#present">
            <h3>.present</h3>
          </a>
        </div>
        <div class="col-xs-4 remove-padding">

          <a class="tabs tabs-last" data-target="#future">
            <h3>.future</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> -->



